---
import Layout from '../layouts/Layout.astro'

const response = await fetch('https://dog.ceo/api/breeds/list/all')
const data = await response.json()
const breeds = data.message
const breedsArray = Object.keys(breeds)



---

<Layout title="Home | dog.ceo">

	<section>
		<main class="container mx-auto px-5 py-20 flex flex-wrap gap-5">

			{breedsArray.map(breed=>
			<a href={`/${breed}`} class="p-2 bg-neutral-200 rounded-md uppercase">
				{breed}
			</a>
			)}

		</main>
	</section>

</Layout>