<footer class="bg-neutral-200">
    <div class="container mx-auto px-5 py-3 ">
        <h6 class="text-center">
            This site is build with <a href="//astro.build" class="underline" target="_blank">Astro.build</a>, styled
            with <a href="//tailwindcss.com" class="underline" target="_blank">TailwindCSS</a>
            and uses the <a href="//dog.ceo" class="underline" target="_blank">dog.ceo API</a> as data source.
        </h6>
    </div>
</footer>