<header class="shadow-md">
    <div class="container mx-auto px-5 py-3 flex justify-center ">
        <a href="/" class="flex items-center gap-5">
            <img src="https://dog.ceo/img/dog-api-logo.svg" class="h-10">
            <span class="font-bold text-2xl">Astro dog.ceo</span>
        </a>
    </div>
</header>