---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="scrolling-smooth">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title || 'dog.ceo'}</title>
  <link rel="shortcut icon" href="//gavn.in/fav" type="image/x-icon">
</head>

<body class="flex flex-col min-h-screen">
  <Header />
  <div class="flex-1">
    <slot />
  </div>
  <Footer />
</body>

</html>